#feedArea {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#postCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  width: auto;
}

#postCard h2, p {
  margin: 5px;
}

#postCard a {
  color: black;
  text-decoration: none;
  width: fit-content;
}

.comments:hover {
  text-decoration: underline;
  cursor: pointer;

}

#postCard a:hover {
  text-decoration: underline;
}

.postInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: bisque;
  gap: 10px;
}




